<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0"/>
    <title>Footer</title>

    <style>
        * {
            margin: 0px;
            padding: 0px;
            box-sizing: border-box; 
            font-family: "Gotham SSm A", "Gotham SSm B", Helvetica, sans-serif;
            font-size: 14px;
            font-style: normal;
           }


        .invoice-footer{
        	width: 35px;
        	height: 35px;
        	background: #3FA496;
        	/*position*: fixed;*/
        }
        .bold{
        	font-weight: bold;
        }

    </style>
</head>

<body>
<div class="invoice-footer">test</div>

</body>
</html>

